body {
  font-family: arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
}
header {
  font-family: arial, sans-serif;
  margin: 5px;
  padding: 5px;
} 
main {
  font-family: arial, sans-serif;
  margin: 5px;
  padding: 5px;
}
footer {
  font-family: arial, sans-serif;
  margin: 5px;
  padding: 5px;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}

